mkdocs>=1.2.2
Pygments>=2.4
markdown>=3.2
pymdown-extensions>=7.0
mkdocs-material-extensions>=1.0
plantuml-markdown>=3.4.2
mkdocs-awesome-pages-plugin>=2.5.0
mkdocs-codeinclude-plugin>=0.2.0
mkdocs-minify-plugin>=0.4.0
mkdocs-redirects>=1.0.3
mkdocs-static-i18n>=0.18

# mkdocs-extra-sass-plugin>=0.1.0  # install fail
# mkdocs-with-pdf>=0.9.3  # install fail
